.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.list-group {
    width: 100%;
    justify-content: center;
    
}
.social {
    width: 100%;
}